<div id="dashboard">
  <div class="dash-user">
    <div class="circular-img img-sml left" ng-style="{'background-image':'url({{ user.avatar }})'}"></div>
    <div class="right">
      <h2>{{ user.name }}</h2>
      <p>Activity Count: {{ stats.activityCount }}</p>
    </div>

  </div>
  <div class="text-only-container">
    <div class="text-only">
      <p>Calories Burned</p>
      <p>{{ stats.totalCalsBurned }}</p>
    </div>
    <div class="text-only">
      <p>Distance Covered</p>
      <p>{{ stats.totalDistCovered }}</p>
    </div>
  </div>
  <div class="bar-chart">
    Bar Chart Here
  </div>
  <div class="icon-box-small">
    <i class="fa fa-rocket"></i>
    <p>Average Speed</p>
    <p>{{ stats.avgMovingSpeed }} km/h</p>
  </div>
  <div class="icon-box-small">
    <i class="fa fa-heart"></i>
    <p>Average Heart Rate</p>
    <p>{{ stats.avgHeartBeat }}</p>
  </div>
  <div class="pie-chart">
    Pie Chart Here
  </div>
</div>
